html, body {
  height: 100%;
  background-color: #a6a6a64f;
}

h2 {
  margin-bottom: 0px !important;
}

.card {
  border: none;
  position: relative;
}

.just-a-div {
  display: contents;
}

.carrot {
  z-index: 2;
}

.potato {
  z-index: 1;
  position: absolute;
}